!!! XML
%feed{:xmlns => "http://www.w3.org/2005/Atom"}
  %title The Setup
  %link{:href => "http://usesthis.com/"}
  %link{:href => "http://usesthis.com/feed/", :rel => "self"}
  %id http://usesthis.com/
  %updated= @interviews[0].created_at
  %author
    %name Daniel Bogan
  - @interviews.each do |interview|
    %entry
      %title= interview.person
      %link{:href => "http://#{interview.slug}.usesthis.com/"}
      %id= "http://#{interview.slug}.usesthis.com/"
      %published= interview.created_at
      %updated= interview.updated_at
      %content{:type => "xhtml"}
        %div{:xmlns => "http://www.w3.org/1999/xhtml"}
          %p
            %img{:src => "http://usesthis.com/images/portraits/#{interview.slug}.jpg", :width => 500, :height => 335, :alt => interview.person}
          = markup(interview.contents_with_wares)