- if @interviews && @interviews.length > 0
  %section
    - @interviews.each do |interview|
      %a{:href => "http://#{interview.slug}.usesthis.com/", :title => "View an interview with #{interview.person}.", :class => 'interview'}
        %img{:src => "/images/thumbnails/#{interview.slug}.jpg", :width => 500, :height => 100, :alt => interview.person, :class => 'thumbnail'}
        = interview.person
      %p.summary= interview.summary
      %time{:pubdate => 'true', :datetime => interview.created_at.strftime("%Y-%m-%d")}= interview.created_at.strftime("%b %d, %Y")

  - if @count > 1
    %p.pagination
      = haml :pagination, :locals => {:path => '/'}, :layout => false