- if @interviews.length > 0
  %ul
    - @interviews.each do |interview|
      %li
        %p.date= "#{interview.date[:year]}-#{interview.date[:month]}-#{interview.date[:day]}"
        %a{:href => "/#{interview.slug}/", :title => "View an interview with #{interview.person}."}
          %span= interview.person
