- if @interviews.length > 0
  %ul#interviews
    - @interviews.each do |interview|
      %li
        %a{:href => "http://#{interview.slug}.usesthis.com/", :title => "View an interview with #{interview.person}."}
          %p.date= interview.created_at.strftime("%Y-%m-%d")
          %h2= interview.person
          %p.summary= interview.summary