%p.date= @interview.created_at.strftime("%Y-%m-%d")
%h2= @interview.person
%p.summary= @interview.summary
%img{:src => "/images/#{@interview.slug}.jpg", :width => 500, :height => 335, :alt => @interview.person}

%section
  %article
    = markup(@interview.contents)