- if (@page - 1) > 0
  %a{:href => "#{path}#{"?page=#{@page - 1}" if (@page - 1) != 1}"} &laquo; Previous
- else
  &laquo; Previous
= "| Page #{@page} of #{@count} |"
- if @page < @count
  %a{:href => "#{path}?page=#{@page + 1}"}Next &raquo;
- else
  Next &raquo;