%h2= @interview.person
%p
  = @interview.summary
  %br
  %time= @interview.created_at.strftime("%Y-%m-%d")
%img{:src => "/images/#{@interview.slug}.jpg", :width => 500, :height => 335, :alt => @interview.person, :class => 'portrait'}
- if @interview.credit
  = markup(@interview.credit)

%section
  %article
    = markup(@interview.contents)